.content {
    border: 1px solid #333333;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    margin-top: 0;
    position: relative;
    width: 400px;

    z-index: auto;
    background: #000000
}

.head {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background: black;
    width: 100%;
    border: 1px solid #333333;
}

.wide-2 {
    margin: 8px;
    width: calc(100% - 16px);
}

.wide-3 {
    margin: 32px;
}

.wide-4 {
    margin: 32px;
    width: calc(100% - 64px);
}

* {
    color: #E0E0E0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.bordered {
    border: 1px solid #333333;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
    background: #000000;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffa500;
}

.col-container {
    width: 100%;
    /*height: 100%;*/
    /*min-height: 100%;*/
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}